/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020/07/15, 13:28:31
    Author     : トライ十郎
*/
input {
    text-align:center;
    border:0;
    font-size: medium;
}
input.fixed {
    background-color: #c2dfef;
    
}
input.error {
    background-color: #D20005;
    
}
input.much {
    background-color: #33ff33;
    
}
#sudoku {
    width:540px;
    height:540px;
    border-top:3px solid;
    border-left:3px solid;
    border-right:1px solid;
    border-bottom:1px solid;
    border-color: #000000;
}
.childCube1 {
    width:59px;
    height:59px;
    float:left;
    border-right:1px solid;
    border-bottom:1px solid;
    border-color: #000000;
    line-height: 49px;
    text-align: center;
}
.childCube2 {
    width:58px;
    height:58px;
    float:left;
    border-right:2px solid;
    border-bottom:2px solid;
    border-color: #000000;
    line-height: 49px;
    text-align: center;
}
.childCube3 {
    width:58px;
    height:59px;
    float:left;
    border-right:2px solid;
    border-bottom:1px solid;
    border-color: #000000;
    line-height: 49px;
    text-align: center;
}
.childCube4 {
    width:59px;
    height:58px;
    float:left;
    border-right:1px solid;
    border-bottom:2px solid;
    border-color: #000000;
    line-height: 49px;
    text-align: center;
}


div.fixed {
    background-color: #c2dfef;
}
div.error {
    background-color: #D20005;
}
div.much {
    background-color: #33ff33;
}





